<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style/style.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="box-formulario">        
        
        <div class="formulario">
            
            <div class="title-form">
              <h1>Cadastro</h1>
            </div>

            <form action="/pessoas/criar" method="post">
                     

                <span>
                    <input type="text" class="input" id="nome" name="nome" placeholder="Nome"  required=""/>
                </span>

                <span>
                    <input type="text" class="input" id="email" name="sobrenome" placeholder="Sobrenome" required=""/>
                </span>

                <span>
                    <input type="text" class="input" id="assunto" name="idade" placeholder="Idade" required=""/>
                </span>


                <div class="box-pulse">
                    <input type="submit" placeholder="Enviar" class="botao-pulse"> <br/> <br/>
                    <a href="/pessoas">Cancelar</a>
 
                      </div>


            </form>

        </div>

    </div>
    
</body>
</html>